In [4]:
import os
os.chdir("C:\\Users\jbcwi\OneDrive\Desktop\DataScienceMS\kaggle\housingPrices")

In [5]:
import pandas as pd
df = pd.read_csv('NHP.csv')
df

,SalePrice,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,208500.0,6,1,0,1,1,1,1,1,6,...,548,0,61,0,0,0,0,0,2,2008
1,181500.0,6,1,0,1,1,1,4,1,25,...,460,298,0,0,0,0,0,0,5,2007
2,223500.0,6,1,0,2,1,1,1,1,6,...,608,0,42,0,0,0,0,0,9,2008
3,140000.0,6,1,0,2,1,1,2,1,7,...,642,0,35,272,0,0,0,0,2,2006
4,250000.0,6,1,0,2,1,1,4,1,14,...,836,192,84,0,0,0,0,0,12,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,175000.0,6,1,0,1,1,1,1,1,9,...,460,0,40,0,0,0,0,0,8,2007
1456,210000.0,6,1,0,1,1,1,1,1,17,...,500,349,0,0,0,0,0,0,2,2010
1457,266500.0,6,1,0,1,1,1,1,1,7,...,252,0,60,0,0,0,0,2500,5,2010
1458,142125.0,6,1,0,1,1,1,1,1,13,...,240,366,0,112,0,0,0,0,4,2010
1459,147500.0,6,1,0,1,1,1,1,1,8,...,276,736,68,0,0,0,0,0,6,2008

In [8]:
import statsmodels.api as sm
import numpy as np
import pandas as pd
import openpyxl
array = []
for col in df.columns:
    x = df[col]
    x1 = sm.add_constant(x, prepend = True)
    y = df['Exterior2nd']
    b = np.corrcoef(y,x)
    c = b[0,1].round(2)
    z = sm.OLS(y, x1).fit()
    a = z.pvalues[1]
    array.append([col, a, c])
output = pd.DataFrame(array, columns=['Category','P-value','Correlation'])
output.sort_values(by = ['Correlation'])

         Category        P-value  Correlation
3           Alley   1.259441e-02        -0.07
59   LowQualFinSF   6.936895e-02        -0.05
74  EnclosedPorch   6.767427e-02        -0.05
46    LotFrontage   5.366655e-02        -0.05
1        MSZoning   1.246483e-01        -0.04
..            ...            ...          ...
50      YearBuilt   1.712221e-07         0.14
38     PavedDrive   1.170593e-08         0.15
12       BldgType   1.764123e-09         0.16
16    Exterior1st  3.002857e-262         0.75
17    Exterior2nd   0.000000e+00         1.00

[81 rows x 3 columns]

In [ ]:
import numpy as np
for col in df.columns:
    x = df[col]
    y = df['SalePrice']
    z = np.corrcoef(x, y)
    a = z[0,1]
    if a > .5 and a < .8:
        print(f'meh: {col} : {a}')
    elif a > .8:
        print(f'good: {col} : {a}')

In [4]:
import statsmodels.api as sm
import numpy as np
import pandas as pd
import openpyxl
array = []
for col in df.columns:
    x = df[col]
    x1 = sm.add_constant(x, prepend = True)
    y = df['SalePrice']
    b = np.corrcoef(y,x)
    c = b[0,1].round(2)
    z = sm.OLS(y, x1).fit()
    a = z.pvalues[1]
    array.append([col, a, c])
output = pd.DataFrame(array, columns=['Category','P-value','Correlation'])
output.to_excel(r'HPcorrelations1.xlsx')

In [4]:
#OverallQual correlations

import statsmodels.api as sm
import numpy as np
import pandas as pd
import openpyxl
array = []
for col in df.columns:
    x = df[col]
    x1 = sm.add_constant(x, prepend = True)
    y = df['OverallQual']
    b = np.corrcoef(y,x)
    c = b[0,1].round(2)
    z = sm.OLS(y, x1).fit()
    a = z.pvalues[1]
    array.append([col, a, c])
output = pd.DataFrame(array, columns=['Category','P-value','Correlation'])
output.to_excel(r'HPcorrelations_OverallQual.xlsx')
#you must give a new file name anytime you want to rerun the output

       Category        P-value  Correlation
0     SalePrice  2.185675e-313         0.79
1      MSZoning   7.677501e-13        -0.19
2        Street   2.459838e-02         0.06
3         Alley   3.065143e-01        -0.03
4      LotShape   1.668462e-14         0.20
..          ...            ...          ...
76  ScreenPorch   1.314582e-02         0.06
77     PoolArea   1.275642e-02         0.07
78      MiscVal   2.304122e-01        -0.03
79       MoSold   6.790956e-03         0.07
80       YrSold   2.963852e-01        -0.03

[81 rows x 3 columns]